@use "../styles/globals.scss";

// Base button styles
.button {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  align-self: flex-start;
  font-weight: 600;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(0.95);
  }
}

// Login/Get Started button
.loginButton {
  @extend .button;
  font-weight: semi-bold;
}

// Submit button (for forms)
.submitButton {
  @extend .button;
  // margin-bottom: 6rem;
  font-weight: semi-bold;
}

// Add button (for gear, trails etc)
.addButton {
  @extend .button;
  margin-bottom: 5rem;
}

// Edit buttons container
.editButtons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  .saveButton {
    @extend .button;
    flex: 1;
    min-width: unset;
  }

  .cancelButton {
    @extend .button;
    flex: 1;
    min-width: unset;
    background-color: var(--color-grey-light);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-grey-dark);
      color: var(--color-white);
    }
  }
}

.smallButton {
  @extend .button;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  min-width: unset;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileButton {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.5rem;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 150px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(0.95);
  }
}
