@use "../styles/globals.scss";

.button {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submitButton {
  @extend .button;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  background-color: var(--color-green);
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    background-color: var(--color-green);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
