@use "../styles/globals.scss";

* {
  box-sizing: border-box;
}

.banner {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
  background-color: var(--color-white);
  margin-top: -50px;
}

.title {
  color: var(--color-black);
  font-weight: bold;
  align-self: flex-start;
  font-size: 36px;
}

.input,
.select,
.textarea,
.dateInputContainer,
.fileInputContainer {
  width: 100%;
}

.input,
.select,
.textarea {
  padding: 10px;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid var(--color-grey-light-dark);
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;

  &:focus {
    border-color: var(--color-grey-dark);
  }
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 10px;
  background-size: 10px;
  font-size: 14px;
  color: var(--color-grey-dark);
}

.textarea {
  height: 80px;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  border-radius: 10px;

  &::placeholder {
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid var(--color-grey-light-dark);
  border-radius: 4px;
}

.removeButton {
  background-color: #8d4a42;
  color: var(--color-white);
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background-color: #95554e;
  }
}

.fileInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // color: var(--color-grey-dark);

  label {
    background: var(--color-white);
    padding: 8px 15px;
    border: 1px solid var(--color-grey-light);
    border-radius: 25px;
    cursor: pointer;
  }

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.fileInput {
  &::file-selector-button {
    visibility: hidden;
    width: 0;
    z-index: -1;
  }
}

label {
  margin: 0;
  padding: 0;
  display: block;
}

.dateInputContainer {
  position: relative;
  padding: 10px;
  border: 1px solid var(--color-grey-light-dark);
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--color-grey-dark);

  &:hover {
    border-color: var(--color-grey-dark);
  }

  &:focus-within {
    border-color: var(--color-grey-dark);
  }

  span {
    position: absolute;
    top: -10px;
    left: 10px;
    background: var(--color-white);
    font-size: 12px;
    padding: 0 5px;
    color: var(--color-grey-dark);
    z-index: 1;
  }

  input {
    border: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    padding: 5px 0;
    background: transparent;
    border-radius: 25px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    color: var(--color-grey-dark);

    &:not([value=""]) {
      color: var(--color-black);
    }
  }
}

.googleMapContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
.createTrailContainer {
  position: relative;
  z-index: 1;

  :global(.pac-container) {
    z-index: 1000;
    margin-top: 2px;
    border-radius: 4px;
    border: 1px solid var(--color-grey-light-dark);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

.autocompleteWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  z-index: 1000;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--color-grey-light-dark);
  border-radius: 25px;
}

/* Större skärmar */
@media (min-width: globals.$md-screen) {
  .form {
    padding: 30px;
    margin-top: -100px;
    gap: 20px;
  }

  .title {
    font-size: 24px;
  }

  .input,
  .select,
  .textarea {
    font-size: 16px;
  }

  .textarea {
    height: 100px;
  }

  .submitButton {
    font-size: 16px;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .removeButton {
    font-size: 14px;
  }
}

.fileInputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.fileInputContainer {
  position: relative;

  label {
    background: var(--color-white);
    padding: 8px 15px;
    border: 1px solid var(--color-grey-light-dark);
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-grey-dark);
  }

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.fileStatus {
  color: var(--color-grey-dark);
  font-size: 14px;

  &:not(:empty) {
    color: var(--color-black);
  }
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

  &:not([value=""]) {
    color: var(--color-black);
  }
}
