@use "../styles/globals.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: var(--color-white);
  padding: 2rem;

  // @media (min-width: globals.$md-screen) {
  // }
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--color-white);
  border-radius: 25px;
  padding: 2rem;
  max-width: 500px;
  text-align: center;
  min-width: 300px;
}

.hero {
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-black);
}

.description {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--color-dark-gray);
}

.logo {
  width: 100px;
  height: auto;
  margin: 1rem 0;
}

.buttonContainer {
  margin-top: 1.5rem;
}

@media (min-width: globals.$md-screen) {
  .card {
    max-width: 600px;
  }
  .title {
    font-size: 3rem;
  }
}
