@use "../styles/globals.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: var(--color-white);
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
.card {
  background-color: var(--color-white);
  border-radius: 25px;
  max-width: 500px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-black);
  margin: 0;
}

.description {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.logo {
  width: 100px;
  height: auto;
}

.buttonContainer {
  margin-top: 1.5rem;
}

@media (min-width: globals.$md-screen) {
  .card {
    max-width: 600px;
  }
  .title {
    font-size: 3rem;
  }
}
