@use "../styles/globals.scss";

.button {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
